<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="stations-dropdown.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @* threejs setup *@
        <script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.131/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.131/examples/jsm/"
        }
			}
		</script>
    @* new: JS interop, and added wwwroot/js/scripts.js for three.js file: earth.js*@
    <script src="_framework/blazor.webassembly.js"></script> 
    <script src="js/earth.js"></script>
</body>

</html>
